# system build files during compilation
bin/
build/

# personal test dev file
src/driver.cpp

# include
include/cpp-nn/Eigen/

# build libraries
statetool.dylib

# polybench library
/polybench-c-3.2

# misc
.DS_Store
/.vscode
