# system build files during compilation
bin/
build/

# training data
data/training/

# personal test dev files
src/examples/driver*
data/saved_weights/

# include
include/mlp-cpp/Eigen/

# build libraries
statetool.dylib

# polybench library
/polybench-c-3.2

# result evaluation
.env/

# misc
.DS_Store
/.vscode
